.navbar {
    margin-bottom: 0;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    top: 0;
    border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    transform: translate3d(0,0,0);
    min-height: 50px;
    border: 1px solid transparent;
    border-bottom: 1px solid #ddd;
    display: block;
    box-sizing: border-box;
    font-weight: 200;
    font-style: normal;
    font-family: "Open Sans","helvetica neue",helvetica,arial,sans-serif;
    clear: both;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  clear: both;
}
div {
  display: block;
}
body {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
ul {
    display: block;
    clear: both;
}
.nav-item {
    border-color: #e7e7e7;
    margin-right: 0;
    margin-left: 0;
    max-height: 340px;
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
    width: auto;
    float: left;
    margin: 0;
}
.navbar-nav {
  float: left;
  margin: 0;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav>li {
  float: left;
}
.nav>li {
  position: relative;
  display: block;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav.navbar-right:last-child {
  margin-right: -15px;
}
.navbar-nav>li {
    position: relative;
    display: block;
}
.navbar-nav>li>a {
    padding: 15px 5px;
    line-height: 20px;
    display: block;
}

a {
    color: #777;
    text-decoration: none;
}
.map-overlay {
    width: 100%; 
    position:absolute; 
    top: 0; 
    left: 0; 
    z-index: 1;
}
.main-content {
    z-index: 1;
    max-width: 800px;
    margin: 0 auto;
}
body {
    font-family: "Open Sans","helvetica neue",helvetica,arial,sans-serif;
}
.box {
    width: 100%;
    margin-top: 10px;
}
.box-content {
    padding: 1px 20px;
}
.orange {
    background-color: #c9442a;
}
.translucentblack {
    background-color: rgba(0,0,0,.65);
}
.welcome_div {
    background-color: rgba(193,66,66,.90);
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    font-weight: 200;
}

.white {
    background-color: #fff;
    color: #222;
}
.faded-white {
    background-color: #ddd;
}

.align_left {
    text-align: left;
}

.align_center {
    text-align: center;
}

.button {
    margin-bottom: 20px;
    padding: 15px 50px;
    min-width: 100px;
    text-align: center;
    font-family: "Benton Sans", "Helvetica", "sans-serif";
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    border-radius: 0;
    cursor: pointer;
    white-space: nowrap;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    font-weight: 500;
    box-shadow: 0 0 0 #888888;
    border: 0px;
}

.input_form {
    margin-right: 30px;
    margin-bottom: 20px;
    min-width: 40%;
    padding: 12px 5px;
    font-size: 20px;
    background: white;
    background: #fdfdfd;
    vertical-align: middle;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
    box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
    border: 1px solid #c1c1c1;
    line-height: 20px;
    color: #333;
}

.input_form:hover {
    border: 1px solid #008FB2;
}

.submit-button {
    background: #19D175;
    color: #fff;
}

.submit-button:hover {
    background: #4DDF9E;
}

.facebook-button {
    background: #3B5998;
    color: #ffffff;
    width: 150px;
}

.facebook-button:hover {
  color: #eeeeee;
  background: #4e69a2;
}

.facebook-button:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}

.box-header-name {
    padding: 5px 20px;
    background-color: #c94429;
    color: white;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    border-radius:5px 5px 0 0;
    border-top: 1px solid white;
}
.topsection {
    margin-top: 30px;
    margin-bottom: 20px;
}

.question {
    font-size: 20px;
    font-weight: 300;
    color: #eee;
}
.answer-form {
    margin-bottom: 30px;
}
.rules{
    margin: 0;
    list-style-position: inside;
    font-weight: 150;
}
.countdown-amount {
    color: #FFFF99;
    font-weight: 100;
}
.timer {
    display: block;
    float: left;
}
.green_number {
    color: #B2FFB2;
    font-weight: 100;
}
.red_number {
    color: #FFAD99;
}
.is-countdown {
    float: left;
    padding: 0 5px;
    margin-right: 10px;
}
.box-footer {
    padding: 10px 20px;
    background-color: #777;
    clear: both;
    color: white;
    border-bottom: 1px solid rgba(0,0,0,.8);
    font-weight: 200;
    font-size: 16px;
    display: block;
    overflow: hidden;
    height: auto!important;
    width: auto;
}
.green-text {
    color: #19D175;
    font-weight: 500;
}
.orange-text {
    color: #c9442a;
    font-weight: 500;
}
.big-text {
    font-size: 20px;
}
.postscript-text {
    color: #444;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 200;
}
.link-text {
    color: #33CCFF;
    text-decoration: underline;
}
.link {
    text-decoration: underline;
}
.link:hover {
    text-decoration: none;
    color: #66FFFF;
}
.giveup {
    color: #00FFFF;
    cursor: pointer;
}
.giveup:hover {
    text-decoration: underline;
}

.note-text {
    font-size: 16px;
}
.lightblue {
    color: #CCEBF5;
}
.grey {
    color: #888;
}
.small_text {
    color: #eee;
    font-size: 16px;
    font-style: italic;
}
.answer_boxes {
  margin-bottom: 30px;
  display: none;
}
html { 
  background: url(http://si.wsj.net/public/resources/images/BN-IH841_0508br_J_20150507195355.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

label.nomination {
    display: block;
    font-size: 18px;
    color: #444;
}

.navbar-logo {
    color: #0077b5;
    margin-left: 0;
    margin-right: 0;
    font-size: 24px;
    height: 33px;
    background-size: 100%;
    display: block;
    margin: 7px 5px 0 0;
}
.navbar-items {
    margin-left: 20px;
    float: right!important;
    font-weight: 200;
    cursor: pointer;
}
.description {
    display: block;
}
.black-text {
    font-size: 20px;
    font-weight: 300;
    color: #333;
}
.title {
    margin-top: 30px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    cursor: default;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


