#error_display {
  color: red;
}
h1 {
  margin: 0px;
  font-size: 24px;
}
#missed_numbers {
  display: none;
}
#missed_answers {
  display: none;
}
#how {
  font-size: 18px;
  font-weight: bold;
}
.answered_item {
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  background-color: #B5BABA;
  margin: 3px;
  float: left;
}
.missed_item {
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  background-color: #E0B3A8;
  margin: 3px;
  float: left;
}
span#subscription{ font-size: 12px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  cursor: default;}
span#rightboxheadline{
  text-align:center 
  cursor: default;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 25px;
  color:white;  
}
html{
  height: 100%;
}
div#bd {
  position: absolute;
    width: 100%;
    top: 34px;
    bottom: 0px;
    border-top: 1px solid #463F3E;
}
.container{
  height: 100%;
  position: relative;
}
 
input{box-sizing:border-box}

@media screen and (max-width: 700px) {
    .main-content {
        z-index: 1;
        max-width: 801px;
        margin: 38px auto;
        background: #fff;
        padding: 5px !important;
    }
    input {
      width: 100%;
      margin-bottom: 5px;
      margin-right: 0;
    }
    select {
      overflow: hidden;
      font-size: 12px;
    }
    .quiz_box {
      width: 100% !important;
    }
    .submit-button {
      margin-right: 0 !important;
    }
    .gray_box {
      padding: 20px 10px !important;
    }
    .creation_box {
      width: 100% !important;
    }
}
a {
  text-decoration:none;
}
.error_input {
  border: 1px solid #cc3300 !important;
}
.error_label {
  color: #cc3300 !important;
}
a:hover{
  color: #3046C5;
}
.navbar {
    margin-bottom: 0;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    top: 0;
    border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    transform: translate3d(0,0,0);
    min-height: 50px;
    border: 1px solid transparent;
    border-bottom: 1px solid #ddd;
    display: block;
    box-sizing: border-box;
    font-weight: 200;
    font-style: normal;
    font-family: "Open Sans","helvetica neue",helvetica,arial,sans-serif;
    clear: both;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  clear: both;
}
div {
  display: block;
}
body {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
ul {
    display: block;
    clear: both;
}
.nav-item {
    border-color: #e7e7e7;
    margin-right: 0;
    margin-left: 0;
    max-height: 340px;
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
    width: auto;
    float: left;
    margin: 0;
}
.navbar-nav {
  float: left;
  margin: 0;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav>li {
  float: left;
}
.nav>li {
  position: relative;
  display: block;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav.navbar-right:last-child {
  margin-right: -15px;
}
.navbar-nav>li {
    position: relative;
    display: block;
}
.navbar-nav>li>a {
    padding: 15px 5px;
    line-height: 20px;
    display: block;
}

a {
    color: #5065DF;
    text-decoration: none;
}
html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   min-width: 100%;
   font-family: helvetica,arial,sans-serif;
   position: absolute;
}

.map-overlay {
    margin: 0 auto;
}
.main-content {
    z-index: 1;
    max-width: 750px;
    margin: 0 auto;
    background: #fff;
    padding: 0 50px 26px;
    box-sizing: border-box;
}
.box {
    width: 100%;
    margin-bottom: 25px;
}
.box-content {
    padding: 0;
}
.orange {
    background-color: #c9442a;
}
.translucentblack {
    background-color: rgba(0,0,0,.65);
}
.welcome_div {
    background-color: rgba(193,66,66,.90);
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    font-weight: 200;
}

.white {
    background-color: #fff;
    color: #222;
}
.faded-white {
    background-color: #ddd;
}

.align_left {
    text-align: left;
}

.align_center {
    text-align: center;
}
a.button:hover {
    text-decoration: none;
    color: white;
}

.button {
    padding: 13px 50px;
    min-width: 100px;
    text-align: center;
    font-family: "Benton Sans", "Helvetica", "sans-serif";
    font-size: 20px;
    line-height: 20px;
    border-radius: 0;
    cursor: pointer;
    white-space: nowrap;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    font-weight: 100;
    box-shadow: 0 0 0 #888888;
    border: 0;
    background-color: #5065df;
    color: #ffffff;
}
.button:hover {
    background-color: #4054cb;
}
.button:disabled {
  background-color: #B1BCF9;
}
.red:disabled {
  background-color: #E7A084;
}
.transparent {
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #ddd;
    padding: 20px 50px;
    border-radius: 5px;
    color: #ddd !important;
}
.transparent:hover {
  border: 2px solid white;
  background-color: rgba(0,0,0,0.8);
  color: #fff !important;
  font-weight: 300;
}
.creation_box {
  width: 70%;
}
.quiz_box {
  width: 50%;
}
.input_form {
    margin-right: 10px;
    padding: 12px 5px;
    font-size: 18px;
    background: white;
    background: #fdfdfd;
    vertical-align: middle;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
    box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
    border: 1px solid #c1c1c1;
    color: #333;
}
input[type=radio]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
}
select {
    margin-bottom: 20px;
    min-width: 40%;
    font-size: 14px;
    background: white;
    background: #fdfdfd;
    vertical-align: middle;
    border: 1px solid #c1c1c1;
    line-height: 20px;
    color: #333;
}

.input_form:hover {
    border: 1px solid #008FB2;
}

.facebook-button {
    width: 150px;
    background: #5065df  url("/static/images/f.png") no-repeat 52px 10px;
}

.created-facebook-button {
    width: 300px;
    background: #5065df  url("/static/images/f.png") no-repeat 30px 10px;  
}

.box-header-name {
    padding: 5px 20px;
    background-color: #c94429;
    color: white;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    border-radius:5px 5px 0 0;
    border-top: 1px solid white;
}
.inline_div {
  display: inline;
}

.question {
    font-size: 20px;
    font-weight: 300;
    color: #000;
}
.rules{
    margin: 0;
    list-style-position: inside;
    font-weight: 150;
}
.countdown-amount {
    color: #FFFF99;
    font-weight: 100;
}
.timer {
    display: block;
    float: left;
}
.green_number {
    color: #B2FFB2;
    font-weight: 100;
}
.red_number {
    color: #FFAD99;
}
.is-countdown {
    float: left;
    padding: 0 5px;
    margin-right: 10px;
}
.box-footer {
    padding: 10px 20px;
    background-color: #777;
    clear: both;
    color: white;
    border-bottom: 1px solid rgba(0,0,0,.8);
    font-weight: 200;
    font-size: 16px;
    display: block;
    overflow: hidden;
    height: auto!important;
    width: auto;
}
.green-text {
    color: #19D175;
    font-weight: 500;
}
.orange-text {
    color: #c9442a;
    font-weight: 500;
}
.big-text {
    font-size: 20px;
}
.postscript-text {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #666;
    font-size: 20px;
    font-weight: 200;
}
.link-text {
    color: #33CCFF;
    text-decoration: underline;
}
.link {
    text-decoration: underline;
}
.link:hover {
    text-decoration: none;
    color: #66FFFF;
}
.giveup {
    color: #00FFFF;
    cursor: pointer;
}
.giveup:hover {
    text-decoration: underline;
}
.post_question_creation {
  display: none;
  text-align: center;
  padding: 20px;
}

.note-text {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.42857143;
}
.lightblue {
    color: #CCEBF5;
}
.grey {
    color: #888;
}
.small_text {
    color: #eee;
    font-size: 16px;
    font-style: italic;
}
.answer_boxes {
  margin-top: 10px;
}
.submit-button {
    margin-right: 10px;
}
html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

label.nomination {
    display: block;
    font-size: 18px;
    color: #444;
}

.navbar-logo {
    color: #0077b5;
    margin-left: 0;
    margin-right: 0;
    font-size: 24px;
    height: 33px;
    background-size: 100%;
    display: block;
    margin: 7px 5px 0 0;
}
.navbar-items {
    margin-left: 20px;
    float: right!important;
    font-weight: 200;
    cursor: pointer;
}
.description {
    display: block;
}
.black-text {
    font-size: 20px;
    font-weight: 200;
    color: #333;
}
.title {
    text-align: left;
    font-size: 30px;
    font-weight: 200;
    color: #222;
    cursor: default;
    margin-bottom: 10px;
}
.subtitle {
    font-size: 16px;
    font-weight: 200;
    text-align: left;
    margin-bottom: 40px;
}
.more_link {
    margin-left: 10px;
    font-size: 16px;
    color: #1257f3;
    cursor: pointer;
    text-decoration: underline;
}
.more_link:hover {
    text-decoration: none;
}
#faq_div {
  display: none;
}
.faq_item {
  padding-left: 20px;
  font-size: 15px;
  padding-bottom: 10px;
}
.faq_question {
  font-weight: bold;
}
.description_text {
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 200;
}
.gray_box {
    background-color: #f0f0f0;
    padding: 29px 41px;
    padding-bottom: 30px;
    border-radius: 4px;
}
.top-header {
    background-image: url(/static/images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000000;
    height: 400px;
    margin-bottom: 40px;
}
.final_one {
    margin-bottom: 50px;
}
.answer-form {
    display: none;
    padding-top: 15px;
}
.center_button {
    text-align: center;
}
.toppadding25 {
    padding-top: 25px;
}
.toppadding300 {
    padding-top: 300px;
}
.italic_text {
    font-style: italic;
}
.nomination-form {
    text-align: center;
    padding-top: 10px;
}
.some_space_below {
    margin-bottom: 30px;
}
.answer_box {
  overflow: hidden;
}
#donation_button {
    display: none;
}
.create_own {
    margin-top: 10px;
}
.small-text {
    font-size: 12px;
}
.hidden {
    display: none;
}
.float_left {
    display: block;
    float: left;
}
.float_right {
    display: block;
    float: right;
}
.two_buttons {
    overflow: hidden;
}
.red {
    background-color: #D44610;
}
.red:hover {
    background-color: #D67752;
}
.x_created_answers {
  margin-left: 5px;
}
.x_created_answers:hover {
  border: 1px solid #999;
}
.small-padding-bottom {
  padding-bottom: 10px;
}
.creation_legend {
  font-weight: 600;
  margin-bottom: 5px;
}
.creation_input {
  margin-bottom: 5px;
}
.creation_item {
  margin-bottom: 20px;
  font-size: 15px;
}
