    function getQueryParams(qs) {
        qs = qs.split("+").join(" ");
        var params = {}, tokens, re = /[?&]?([^=]+)=([^&]*)/g;
        while (tokens = re.exec(qs)) {
            params[decodeURIComponent(tokens[1])]
                = decodeURIComponent(tokens[2]);
        }
        return params;
    }
    var params = getQueryParams(window.location.search.substring(1));
    var variant = 1
    if (params.fb_ref!=null){
      var a = params.fb_ref.split(' ')[0];
      if (!isNaN(a) && parseInt(a) < questions.length && parseInt(a) >= 0) {
        variant = parseInt(a);
      }
    }