<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0">
<meta property="og:title" content="Trivia Challenge {{og_title}}" />
<meta property="og:type" content="janatriviachallenge:trivia" />
<meta property="og:image" content="http://nepal.jana.com/static/images/fb_share_pic.jpg" />
<meta property="og:url" content="{{ request.url }}"/>
<meta property="fb:app_id" content="1673890419499781"/>
<meta property="og:description" content="A fundraiser for the earthquake victims in Nepal - complete the trivia challenge, challenge 5 others and donate $10 if you loose."/>
<link rel="shortcut icon" href="/static/images/favicon.ico">
<title>Trivia Challenge {{og_title}}</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link href="/static/css/trivia.css" media="all" rel="stylesheet" type="text/css"/>
<link href="/static/css/validationEngine.jquery.css" media="all" rel="stylesheet" type="text/css"/>
<script>
    var question = {{ question|safe }};
    var correctly_answered = [];
    var time = 200;
    var created_qid = null;
</script>
<script src='/static/js/trivia.js'></script>
</head>
<body>
<div class="top-header">
    <div class="align_center toppadding300">
        <a class="button transparent" href="https://www.gofundme.com/triviachallenge/donate" target="_blank">Click Here to Donate!</a>
    </div>
</div>
<div class="map-overlay">
<div class="main-content">
  <div class="title">
    Trivia Challenge
  </div>
  <div class="subtitle">
    A fundraiser for the Nepali Earthquake victims organized by<a class="more_link" id="about_jana" href="https://jana.com" target="_blank"><img src="/static/images/jana_logo.png" width="90px" style="position:relative;  top: 7px;"></a><span class="more_link" id="faq">(FAQs)</span>
  </div>
  <div class="subtitle" id="faq_div">
  </div>
  <div class="box">
    <div class="box-content align_left description_text some_space_below">
      The goal of this challenge is to raise money for the UNICEF & the Nepali Government's Earthquake Relief Fund with a simple game. Your friend has selected a challenge for you. Just try the challenge, and if you do not pass, donate $10 to our fundraising campaign. Complete the challenge by challenging 5 other friends!
    </div>
  </div>
  <div class="box" id="challenge_box">
    <div class="box-content align_left gray_box" id="quiz">
      <div class="topsection">
        <div class="question" id='challenge_prompt'></div>
        <div class="note-text italic_text" id='challege_subtext'>You have <span id="number_of_seconds">60</span> seconds. Submit one at a time by pressing "enter"...</div>
      </div>
      <div class="answer-form" id="answer_form">
        <form id="access_code_form">
            <input type="text" class="input_form quiz_box" id="answer_box" autocomplete="off"></input>
            (<span id="time_left">x</span> seconds left)</span>
        </form>
        <div class="note-text italic_text" id='challege_subtext'>Your Score: <span id="scored_points">0</span> / Passing Score: <span id="required_points">32</span><span class="more_link" id="giveup">Give Up?</span></div>
        <div class="answer_boxes" id="answer_boxes">
          <div class="answer_box" id="entered_answers"></div>
        </div>
      </div>
      <div id="start_button" class="center_button toppadding25">
        <input type="submit" class="button" onclick="startquiz()" value="Ready? Start!"></input>
      </div>
      <div id="donation_button">
        <div class="answer_boxes">
          You answered: 
          <div class="answer_box" id="final_entered_answers"></div>
          You missed:
          <div class="answer_box" id="final_missed_answers"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="box" id="share_box">
    <div class="box-content align_left gray_box">
      <div class="topsection">
        <div class="question">Next: Nominate 5 Facebook friends for a Challenge!</div>
      </div>
      <div class="nomination-form">
        <div>
          <select class="nomination_input" id="challenge_selection">
            <option value="default">Select an existing challenge for your friends</option>
            {% for item in referral_choices %}
              <option value={{item[0]}}>{{item[1]}}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <div onclick="gogogo()" class="facebook-button button">Challenge</div>
        </div>
        <div class="postscript-text">Or</div>
        <div>
          <div onclick="load_create()" class="create_own button">Create your own Trivia!</div>
        </div>
      </div>
    </div>
  </div>
  <div class="box hidden" id="create_box">
    <div class="box-content align_left gray_box">
      <div id="creation_form">
        <div class="topsection small-padding-bottom">
          <div class="question">Create Your Own Challenge:</div>
        </div>
        <div class="creation_item">
          <div class="creation_legend">The Challenge:</div>
          <div class="note-text italic_text">Give an one-liner description. For example: "Name any 20 people who were in section A, Deerfield Highschool, class of 2002."</div>
          <div class="creation_input">
            <input type="text" class="creation_box input_form" id="created_list_question" autocomplete="off" placeholder="200 Characters Max" onfocusout="validateChallenge()"/>
          </div>
          <div class="error_string" id="challenge_error"></div>
        </div>
        <div class="creation_item">
          <div class="creation_legend">All the Correct Answers:</div>
          <div class="note-text italic_text">Enter one at a time. Click "Add" or press enter after each one.</div>
          <div class="creation_input">
              <input type="text" class="creation_box input_form" id="creation_answer_box" autocomplete="off" onfocusout="validateAnswers()"/>
              <input type="button" class="button" id="add_answer" value="Add"></input>
          </div>
          <div class="error_string" id="possible_answers_error"></div>
          <div class="creation_item">
            <div class="answer_box" id="quiz_creation_answers"></div>
          </div>
        </div>
        <div class="creation_item">
          <div class="creation_legend">Passing Score:</div>
          <div class="note-text italic_text">For example: 20 in the above example.</div>
          <div class="creation_input">
            <input type="text" class="creation_box input_form" id="passing_score" autocomplete="off" onfocusout="validatePassingScore()"/>
          </div>
          <div class="error_string" id="passing_score_error"></div>
        </div>
      </div>
      <div id="question_creation_loading" class="post_question_creation">
        <img src="/static/images/712.gif">
      </div>
      <div id="share_created_question" class="post_question_creation">
        <div class="postscript-text" id="creation_result">Success! Your Trivia was just created!</div>
        <div onclick="showCreatedQIDShare()" class="created-facebook-button button">Challenge friends with your trivia!</div>
        <div class="postscript-text">Or</div>
        <div class="postscript-text">Share this link: <span class="link-text link" id="created_question_link"></span></div>
      </div>
      <div id="start_button" class="center_button two_buttons">
        <input type="submit" id="cancel_create" class="button red float_left" onclick="cancelcreate()" value="Cancel"></input>
        <input type="submit" id="submit_create" class="button green float_right" onclick="createquiz()" value="Create"></input>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>