<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0">
<meta property="og:title" content="Trivia Challenge for Nepal Earthquake Relief" />
<meta property="og:type" content="article" />
<meta property="og:image" content="https://42b93ec2.ngrok.com/static/images/fb_share_pic.jpg" />
<meta property="og:url" content="https://42b93ec2.ngrok.com/"/>
<meta property="fb:app_id" content="1673890419499781"/>
<meta property="og:description" content="" />
<meta property="og:title" content="Jana Trivia Challenge - A Fundraiser 7.8M earthquake victims in Nepal!"/>
<title>Trivia Challenge for Nepal Earthquake Relief</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link href="/static/css/trivia.css" media="all" rel="stylesheet" type="text/css"/>
<script>
    var correctly_answered = [];
    var questions = [{
        time: 2,
        question_id: 1,
        total_answers: 54,
        description: "Name at least {number} African countries",
        friend_name_description: "{friend_name} challenged you to name {challenged_number} African countries",
        passing_score: 32,
        error_message: " is not an African country",
        answers: {
            "algeria": 0,
            "angola": 1,
            "benin": 2,
            "botswana": 3,
            "burkina faso": 4,
            "burundi": 5,
            "cabo verde": 6,
            "cameroon": 7,
            "central african republic": 8,
            "chad": 9,
            "comoros": 10,
            "congo democratic republic of the": 12,
            "democratic republic of the congo": 12,
            "congo republic of the": 11,
            "republic of the congo": 11,
            "cote d'ivoire": 13,
            "cote d ivoire": 13,
            "cote divoire": 13,
            "cote ivoire": 13,
            "djibouti": 14,
            "egypt": 15,
            "equatorial guinea": 16,
            "eritrea": 17,
            "ethiopia": 18,
            "gabon": 19,
            "gambia": 20,
            "ghana": 21,
            "guinea": 22,
            "guinea bissau": 23,
            "kenya": 24,
            "lesotho": 25,
            "liberia": 26,
            "libya": 27,
            "madagascar": 28,
            "malawi": 29,
            "mali": 30,
            "mauritania": 31,
            "mauritius": 32,
            "morocco": 33,
            "mozambique": 34,
            "namibia": 35,
            "niger": 36,
            "nigeria": 37,
            "rwanda": 38,
            "sao tome and principe": 39,
            "senegal": 40,
            "seychelles": 41,
            "sierra leone": 42,
            "somalia": 43,
            "south africa": 44,
            "south sudan": 45,
            "sudan": 46,
            "swaziland": 47,
            "tanzania": 48,
            "togo": 49,
            "tunisia": 50,
            "uganda": 51,
            "zambia": 52,
            "zimbabwe": 53
        },
        'names': [
            "Algeria",
            "Angola",
            "Benin",
            "Botswana",
            "Burkina Faso",
            "Burundi",
            "Cabo Verde",
            "Cameroon",
            "Central African Republic",
            "Chad",
            "Comoros",
            "Congo Republic of the",
            "Congo Democratic Republic of the",
            "Cote d'Ivoire",
            "Djibouti",
            "Egypt",
            "Equatorial Guinea",
            "Eritrea",
            "Ethiopia",
            "Gabon",
            "Gambia",
            "Ghana",
            "Guinea",
            "Guinea Bissau",
            "Kenya",
            "Lesotho",
            "Liberia",
            "Libya",
            "Madagascar",
            "Malawi",
            "Mali",
            "Mauritania",
            "Mauritius",
            "Morocco",
            "Mozambique",
            "Namibia",
            "Niger",
            "Nigeria",
            "Rwanda",
            "Sao Tome and Principe",
            "Senegal",
            "Seychelles",
            "Sierra Leone",
            "Somalia",
            "South Africa",
            "South Sudan",
            "Sudan",
            "Swaziland",
            "Tanzania",
            "Togo",
            "Tunisia",
            "Uganda",
            "Zambia",
            "Zimbabwe"
        ],
        question_id: 0 
    }]
    var variant = Math.floor((Math.random() * questions.length));

</script>
<style>
#challenge_box {}
#error_display {
  color: red;
}
body {
  z-index: 2;
}
h1 {
  margin: 0px;
  font-size: 24px;
}
#missed_numbers {
  display: none;
}
#missed_answers {
  display: none;
}
#how {
  font-size: 18px;
  font-weight: bold;
}

.steps {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
.answered_item {
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  border: 1px solid #008A2E;
  background-color: #CCEBD6;
  margin: 3px;
  float: left;
}
.missed_item {
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  border: 1px solid #CC2900;
  background-color: #FFEBE6;
  margin: 3px;
  float: left;
}
.signup_form{
  font-size: 14px;
  margin: 5px;
  width:270px;
  height:20px;
    border: 1px solid #EBE3DD;
    background: white;
}
.signup_form:hover {
    border: 1px solid white;
    background: #CCCCCC;
}
span#subscription{ font-size: 12px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  cursor: default;}
span#rightboxheadline{
  text-align:center 
  cursor: default;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 25px;
  color:white;  
}
html{
  height: 100%;
}
div#bd {
  position: absolute;
    width: 100%;
    top: 34px;
    bottom: 0px;
    border-top: 1px solid #463F3E;
}
.container{
  height: 100%;
  position: relative;
}
 


@media screen and (max-width: 600px) {

}
a {
  text-decoration:none;
}
.error_input {
  border: 1px solid #cc3300 !important;
}
.error_label {
  color: #cc3300 !important;
}
a:hover{
  color: #0077b5;
}

</style>
<script>
function gogogo() {
  FB.ui({
    method: 'feed',
    link: 'http://phpied.com',
    picture: 'http://fbrell.com/f8.jpg',
    name: 'Sharrrre!',
    caption: 'Awesomesauce',
    description: 'Must read daily!'
  });
}
/*
$('#shortly').countdown({until: shortly,  
    onExpiry: liftOff, onTick: watchCountdown}); 
*/
</script>
</head>
<body>
<script>
(function($) {
    $.fn.flash_message = function(options) {
      options = $.extend({
        text: 'Done',
        time: 1000,
        how: 'before',
        class_name: ''
      }, options);
      
      return $(this).each(function() {
        if( $(this).parent().find('.flash_message').get(0) )
          return;
        
        var message = $('<span />', {
          'class': 'flash_message ' + options.class_name,
          text: options.text
        }).hide().fadeIn('fast');
        
        $(this)[options.how](message);
        
        message.delay(options.time).fadeOut('normal', function() {
          $(this).remove();
        });
        
      });
    };
})(jQuery);

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

// async init once loading is done
window.fbAsyncInit = function() {
  FB.init({appId: 1673890419499781, status: false});
};

window.onload = function() {
    populate_nomination_challenges();
    refresh_answer_counts();
    $('#access_code_form').submit(function (event) {
        var answer = $.trim($('input#answer_box').val().toLowerCase());
        var error_string = null;
        if(questions[variant].answers[answer] != null){
            var answered_item = questions[variant].answers[answer];
            if ($.inArray(answered_item, correctly_answered)==-1) {
              append_answer(answered_item);
              refresh_answer_counts();
            } else {
              error_string = "You already entered " + questions[variant].names[answered_item];
            }
        } else {
            error_string = answer + questions[variant].error_message
        }
        if(error_string!=null) {
            flash(error_string);
        }
        $('input#answer_box').val('');
        event.preventDefault();
        return false;
    });

    function refresh_answer_counts() {
        var correct_answers = correctly_answered.length;
        var total_answers = questions[variant].names.length;
        $('#added_answers').text(correct_answers);
        $('#not_answered').text(total_answers - correct_answers);
    }

    function append_answer(answered_item) {
        $('#answer_boxes').show();
        $answer_el = $('<span />');
        var full_name = questions[variant].names[answered_item];
        correctly_answered.push(answered_item);
        $answer_el.addClass("answered_item").text(full_name);
        $('#entered_answers').append($answer_el);
    }

    function flash(error_string) {
        $('#error_display').flash_message({
            text: error_string,
            how: 'append'
        });
    }

    function stopChallenge() {
        $('#answer_box').prop('disabled', true);
        $('#submit_button').prop('disabled', true);
    }

    function timesUp() {
        stopChallenge();
        showAnswers();
        if(correctly_answered.length==questions[variant].names.length) {
            console.log('YAY');
        } else {
            console.log('BOO');
        }
    }

    function populateQuestion(variant) {
        $('#challenge_prompt').html(
          str_replace(['number'],
            [questions[variant].passing_score],
            "The Challenge: " + questions[variant].description
          ));
    }

    function showAnswers() {
        for (index in questions[variant].names) {
            if($.inArray(parseInt(index), correctly_answered)==-1) {
                $answer_el = $('<span />');
                var full_name = questions[variant].names[index];

                $answer_el.addClass("missed_item").text(full_name);
                $('#missed_answers').show();
                $('#missed_answers').append($answer_el);
                $('#missed_numbers').show();
            }
        }

    }
    populateQuestion(variant);
}

function gogogo() {
  FB.ui({
    method: 'share',
    href: 'https://42b93ec2.ngrok.com',
  });
}

function start_timer() {
    var time_left = questions[variant].time;
    function timer() {
        time_left -= 1;
        if (time_left < 0) {
            clearInterval(counter);
            showResults();
            return
        }
        $('#time_left').text(time_left);
    }
    var counter = setInterval(timer, 1000);
}

function str_replace(replaceArray, replaceWith, myString) {
  for(var i = 0; i < replaceArray.length; i++) {
    myString = myString.replace(new RegExp('{' + replaceArray[i] + '}', 'gi'), replaceWith[i]);
  }
  return myString;
}

function populate_nomination_challenges() {
  var options = $('#challenge_selection');
  $.each(questions, function() {
    var question_item = str_replace(
      ['number'],
      [this.passing_score],
      this.description
    );
    options.append($("<option />").val(this.question_id).text(question_item));
  });
}

function startquiz() {
  $('#answer_form').show();
  $('#start_button').hide();
  $('#donation_button').hide();
  start_timer();
}

function showResults() {
  var result_header = "Congratulations, you passed the Challenge";
  if (correctly_answered.length < questions[variant].passing_score) {
    result_header = "Sorry, you failed the challenge. Please donate $15 to our campaign."
  }
  $('#challenge_prompt').text(result_header);
  $('#challege_subtext').hide();
  $('#answer_form').hide();
  $('#donation_button').show();
}

</script>
<div class="map-overlay">
<div class="main-content">
  <div class="title">
    Nepal Earthquake Relief Trivia Challenge
  </div>
  <div class="subtitle">
    Sponsored in part by <img src="/static/images/jana_logo.png" width="90px" style="position:relative;  top: 7px;"> <span class="more_link" id="about_jana">Learn about Jana.</span>
  </div>
  <div class="box">
    <div class="box-content align_left description_text">
      The 2015 Nepal earthquake killed more than 8,000 people in the country. More than 300,000 houses were completely destroyed and hundreds of villages were completely flattened across the country. Recountruction will take years. <span class="more_link" id="about_jana">Learn more.</span>
    </div>
    <div class="box-content align_left description_text some_space_below">
      The goal of this site is to raise money for the Nepali Prime Minster Disaster Relief Fund with a simple game. Just try the challenge below, and if you do not pass, donate $15. Dont forget to challenge your friends!
    </div>
  </div>
  <div class="box">
    <div class="box-content align_left gray_box" id="quiz">
      <div class="topsection">
        <div class="question" id='challenge_prompt'></div>
        <div class="note-text" id='challege_subtext'>You have <span id="number_of_secons">60</span> seconds. Enter one at a time and press "enter" or click "Submit"...</div>
      </div>
      <div class="answer-form" id="answer_form">
        <form id="access_code_form">
            <label>
                <input type="text" class="input_form" id="answer_box" autocomplete="off"></input>
            </label>
            <input type="submit" class="button submit-button" id="submit_button" value="Submit"/><span class="side_text">(<span id="time_left">26</span> seconds left)</span>
        </form>
        <div class="answer_boxes" id="answer_boxes">
          <div class="answer_box" id="entered_answers"></div>
        </div>
      </div>
      <div id="start_button" class="center_button">
        <input type="submit" class="button" onclick="startquiz()" value="Ready? Start!"></input>
      </div>
      <div id="donation_button" class="center_button">
        Required answers: 32
        </br>
        You Correctly answered: 12
        </br>
        Answers Your missed: 
        </br>
        <input type="submit" class="button" onclick="takeToIndegogo()" value="Click here to make a donation"></input>
      </div>
    </div>
  </div>
  <div class="box final_one">
    <div class="box-content align_left gray_box">
      <div class="topsection">
        <div class="question">Next: Nominate 5 Facebook friends for the Challenge!</div>
      </div>
      <div class="nomination-form">
        <div>
          <select class="nomination_input" id="challenge_selection">
            <option>Select a question</option>
          </select>
        </div>
        <div>
          <div onclick="gogogo()" class="facebook-button button">Challenge</div>
        </div>
        <div class="postscript-text">Or use this link: http://bit.ly/1IsnzIq</div>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
</body>
</html>