<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0">
<meta property="og:title" content="Trivia Challenge for Nepal Earthquake Relief" />
<meta property="og:type" content="article" />
<meta property="og:image" content="https://42b93ec2.ngrok.com/static/images/fb_share_pic.jpg" />
<meta property="og:url" content="https://42b93ec2.ngrok.com/0"/>
<meta property="fb:app_id" content="1673890419499781"/>
<meta property="og:description" content="Answer 1 simple trivia and challenge your friends to help the victims of 7.8M earthquake in Nepal."/>
<meta property="og:title" content="Jana Trivia Challenge - A Fundraiser 7.8M earthquake victims in Nepal!"/>
<title>Trivia Challenge for Nepal Earthquake Relief</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link href="/static/css/trivia.css" media="all" rel="stylesheet" type="text/css"/>
<script>
    var correctly_answered = [];
    var questions = [{
        time: 250,
        question_id: 0,
        total_answers: 30,
        description: "Name {number} of the Largest 30 Cities in the World",
        passing_score: 20,
        answers: {
            "tokyo": 0,
            "jakarta": 1,
            "karachi": 2,
            "manila": 3,
            "delhi": 4,
            "seoul": 5,
            "shanghai": 6,
            "beijing": 7,
            "new york city": 8,
            "new york": 8,
            "guangzhou": 9,
            "sao paulo": 10,
            "mexico city": 11,
            "mumbai": 12,
            "osaka": 13,
            "lagos": 14,
            "moscow": 15,
            "dhaka": 16,
            "lahore": 17,
            "los angeles": 18,
            "bangkok": 19,
            "kolkata": 20,
            "buenos aires": 21,
            "tehran": 22,
            "istanbul": 23,
            "shenzhen": 24,
            "rio de janeiro": 25,
            "kinshasa": 26,
            "tianjin": 27,
            "paris": 28,
            "lima": 29
        },
        'names': [
            'Tokyo',
            'Jakarta',
            'Karachi',
            'Manila',
            'Delhi',
            'Seoul',
            'Shanghai',
            'Beijing',
            'New York City',
            'Guangzhou',
            'Sao Paulo',
            'Mexico City',
            'Mumbai',
            'Osaka',
            'Lagos',
            'Moscow',
            'Dhaka',
            'Lahore',
            'Los Angeles',
            'Bangkok',
            'Kolkata',
            'Buenos Aires',
            'Tehran',
            'Istanbul',
            'Shenzhen',
            'Rio de Janeiro',
            'Kinshasa',
            'Tianjin',
            'Paris',
            'Lima'
        ]
    }, {
        time: 350,
        question_id: 1,
        total_answers: 54,
        description: "Name at least {number} African countries",
        passing_score: 32,
        answers: {
            "algeria": 0,
            "angola": 1,
            "benin": 2,
            "botswana": 3,
            "burkina faso": 4,
            "burundi": 5,
            "cabo verde": 6,
            "cameroon": 7,
            "central african republic": 8,
            "chad": 9,
            "comoros": 10,
            "congo democratic republic of the": 12,
            "democratic republic of the congo": 12,
            "congo republic of the": 11,
            "republic of the congo": 11,
            "cote d'ivoire": 13,
            "cote d ivoire": 13,
            "cote divoire": 13,
            "cote ivoire": 13,
            "djibouti": 14,
            "egypt": 15,
            "equatorial guinea": 16,
            "eritrea": 17,
            "ethiopia": 18,
            "gabon": 19,
            "gambia": 20,
            "ghana": 21,
            "guinea": 22,
            "guinea bissau": 23,
            "kenya": 24,
            "lesotho": 25,
            "liberia": 26,
            "libya": 27,
            "madagascar": 28,
            "malawi": 29,
            "mali": 30,
            "mauritania": 31,
            "mauritius": 32,
            "morocco": 33,
            "mozambique": 34,
            "namibia": 35,
            "niger": 36,
            "nigeria": 37,
            "rwanda": 38,
            "sao tome and principe": 39,
            "senegal": 40,
            "seychelles": 41,
            "sierra leone": 42,
            "somalia": 43,
            "south africa": 44,
            "south sudan": 45,
            "sudan": 46,
            "swaziland": 47,
            "tanzania": 48,
            "togo": 49,
            "tunisia": 50,
            "uganda": 51,
            "zambia": 52,
            "zimbabwe": 53
        },
        'names': [
            "Algeria",
            "Angola",
            "Benin",
            "Botswana",
            "Burkina Faso",
            "Burundi",
            "Cabo Verde",
            "Cameroon",
            "Central African Republic",
            "Chad",
            "Comoros",
            "Congo Republic of the",
            "Congo Democratic Republic of the",
            "Cote d'Ivoire",
            "Djibouti",
            "Egypt",
            "Equatorial Guinea",
            "Eritrea",
            "Ethiopia",
            "Gabon",
            "Gambia",
            "Ghana",
            "Guinea",
            "Guinea Bissau",
            "Kenya",
            "Lesotho",
            "Liberia",
            "Libya",
            "Madagascar",
            "Malawi",
            "Mali",
            "Mauritania",
            "Mauritius",
            "Morocco",
            "Mozambique",
            "Namibia",
            "Niger",
            "Nigeria",
            "Rwanda",
            "Sao Tome and Principe",
            "Senegal",
            "Seychelles",
            "Sierra Leone",
            "Somalia",
            "South Africa",
            "South Sudan",
            "Sudan",
            "Swaziland",
            "Tanzania",
            "Togo",
            "Tunisia",
            "Uganda",
            "Zambia",
            "Zimbabwe"
        ],
    }]
    function getQueryParams(qs) {
        qs = qs.split("+").join(" ");
        var params = {}, tokens, re = /[?&]?([^=]+)=([^&]*)/g;
        while (tokens = re.exec(qs)) {
            params[decodeURIComponent(tokens[1])]
                = decodeURIComponent(tokens[2]);
        }
        return params;
    }
    var params = getQueryParams(window.location.search.substring(1));
    var variant = 1
    if (params.fb_ref!=null){
      var a = params.fb_ref.split(' ')[0];
      if (!isNaN(a) && parseInt(a) < questions.length && parseInt(a) >= 0) {
        variant = parseInt(a);
      }
    }    
 
    console.log(params);
    console.log(variant);
</script>
<style>
#challenge_box {}
#error_display {
  color: red;
}
body {
  z-index: 2;
}
h1 {
  margin: 0px;
  font-size: 24px;
}
#missed_numbers {
  display: none;
}
#missed_answers {
  display: none;
}
#how {
  font-size: 18px;
  font-weight: bold;
}

.steps {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
.answered_item {
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  background-color: #B5BABA;
  margin: 3px;
  float: left;
}
.missed_item {
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  background-color: #E0B3A8;
  margin: 3px;
  float: left;
}
.signup_form{
  font-size: 14px;
  margin: 5px;
  width:270px;
  height:20px;
    border: 1px solid #EBE3DD;
    background: white;
}
.signup_form:hover {
    border: 1px solid white;
    background: #CCCCCC;
}
span#subscription{ font-size: 12px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  cursor: default;}
span#rightboxheadline{
  text-align:center 
  cursor: default;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 25px;
  color:white;  
}
html{
  height: 100%;
}
div#bd {
  position: absolute;
    width: 100%;
    top: 34px;
    bottom: 0px;
    border-top: 1px solid #463F3E;
}
.container{
  height: 100%;
  position: relative;
}
 


@media screen and (max-width: 600px) {
    .main-content {
        z-index: 1;
        max-width: 801px;
        margin: 38px auto;
        background: #fff;
        padding: 47px 10px 26px;
        box-sizing: border-box;
    }
    input {
      width: 100%;
      margin-bottom: 5px;
    }
    select {
      overflow: hidden;
      font-size: 12px;
    }
}
a {
  text-decoration:none;
}
.error_input {
  border: 1px solid #cc3300 !important;
}
.error_label {
  color: #cc3300 !important;
}
a:hover{
  color: #0077b5;
}

</style>
</head>
<body>
<script>
(function($) {
    $.fn.flash_message = function(options) {
      options = $.extend({
        text: 'Done',
        time: 1000,
        how: 'before',
        class_name: ''
      }, options);
      
      return $(this).each(function() {
        if( $(this).parent().find('.flash_message').get(0) )
          return;
        
        var message = $('<span />', {
          'class': 'flash_message ' + options.class_name,
          text: options.text
        }).hide().fadeIn('fast');
        
        $(this)[options.how](message);
        
        message.delay(options.time).fadeOut('normal', function() {
          $(this).remove();
        });
        
      });
    };
})(jQuery);

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

// async init once loading is done
window.fbAsyncInit = function() {
  FB.init({appId: 1673890419499781, status: false});
};

window.onload = function() {
    populate_nomination_challenges();
    $('#access_code_form').submit(function (event) {
        var answer = $.trim($('input#answer_box').val().toLowerCase());
        var error_string = null;
        if(questions[variant].answers[answer] != null){
            var answered_item = questions[variant].answers[answer];
            if ($.inArray(answered_item, correctly_answered)==-1) {
              append_answer(answered_item);
            } else {
              error_string = "You already entered " + questions[variant].names[answered_item];
            }
        } else {
            error_string = answer + questions[variant].error_message
        }
        if(error_string!=null) {
            append_wrong_answer(answer);
        }
        $('input#answer_box').val('');
        event.preventDefault();
        return false;
    });



    function append_answer(answered_item) {
        $('#answer_boxes').show();
        $answer_el = $('<span />');
        var full_name = questions[variant].names[answered_item];
        correctly_answered.push(answered_item);
        $answer_el.addClass("answered_item").text(full_name);
        $('#entered_answers').append($answer_el);
    }

    function append_wrong_answer(answered_item) {
        console.log(answered_item);
        $('#answer_boxes').show();
        $answer_el = $('<span />');
        $answer_el.addClass("missed_item").text(answered_item);
        $('#entered_answers').append($answer_el);
    }

    function flash(error_string) {
        $('#error_display').flash_message({
            text: error_string,
            how: 'append'
        });
    }

    function stopChallenge() {
        $('#answer_box').prop('disabled', true);
        $('#submit_button').prop('disabled', true);
    }

    function timesUp() {
        stopChallenge();
        showAnswers();
        if(correctly_answered.length==questions[variant].names.length) {
            console.log('YAY');
        } else {
            console.log('BOO');
        }
    }

    function populateQuestion(variant) {
        $('#number_of_seconds').text(questions[variant].time)
        $('#challenge_prompt').html(
          str_replace(['number'],
            [questions[variant].passing_score],
            "Your Challenge: " + questions[variant].description
          ));
    }
    populateQuestion(variant);
}

function get_nominated_question() {
    return $('#challenge_selection').val();
}

function gogogo() {
    var url = 'http://42b93ec2.ngrok.com/' + get_nominated_question();
    var question = get_nominated_question() + " asdf";

    FB.ui({
        method: 'share_open_graph',
        action_type: 'og.likes',
        action_properties: JSON.stringify({
          object:'http://42b93ec2.ngrok.com',
          ref: question + '',
        }),
        href: url
    });
}

function start_timer() {
    var time_left = questions[variant].time;
    function timer() {
        time_left -= 1;
        if (time_left < 0) {
            clearInterval(counter);
            showResults();
            return
        }
        $('#time_left').text(time_left);
    }
    $('#time_left').text(time_left);
    var counter = setInterval(timer, 1000);
}

function str_replace(replaceArray, replaceWith, myString) {
  for(var i = 0; i < replaceArray.length; i++) {
    myString = myString.replace(new RegExp('{' + replaceArray[i] + '}', 'gi'), replaceWith[i]);
  }
  return myString;
}

function populate_nomination_challenges() {
  var options = $('#challenge_selection');
  $.each(questions, function() {
    var question_item = str_replace(
      ['number'],
      [this.passing_score],
      this.description
    );
    options.append($("<option />").val(this.question_id).text(question_item));
  });
}

function startquiz() {
  $('#answer_form').show();
  $('#start_button').hide();
  $('#donation_button').hide();
  start_timer();
}

function populateAnswers() {
    for (index in questions[variant].names) {
        if($.inArray(parseInt(index), correctly_answered)==-1) {
            $answer_el = $('<span />');
            var full_name = questions[variant].names[index];
            $answer_el.addClass("missed_item").text(full_name);
            $('#final_missed_answers').append($answer_el);
        } else {
            $answer_el = $('<span />');
            var full_name = questions[variant].names[index];
            $answer_el.addClass("answered_item").text(full_name);
            $('#final_entered_answers').append($answer_el);
        }
    }
}


function showResults() {
  var result_header = "Congratulations, you passed the Challenge";
  if (correctly_answered.length < questions[variant].passing_score) {
    result_header = "You needed " + questions[variant].passing_score + " to pass.. you only got " + correctly_answered.length;
  }
  populateAnswers();
  $('#challenge_prompt').text(result_header);
  $('#challege_subtext').hide();
  $('#answer_form').hide();
  $('#donation_button').show();
}

</script>
<div class="map-overlay">
<div class="main-content">
  <div class="title">
    Nepal Earthquake Relief Trivia Challenge
  </div>
  <div class="subtitle">
    Organized by <img src="/static/images/jana_logo.png" width="90px" style="position:relative;  top: 7px;"><a class="more_link" id="about_jana" href="https://jana.com" target="_blank">Learn about Jana</a>
  </div>
  <div class="box">
    <div class="box-content align_left description_text some_space_below">
      The 2015 Nepal earthquake killed more than 8,000 people in the country. More than 300,000 houses were completely destroyed and hundreds of villages were completely flattened across the country. Reconstruction will take years.
    </div>
    <div class="box-content align_left description_text some_space_below">
      The goal of this challenge is to raise money for the Government of Nepal's Relief Program with a simple game. Just try the quiz below, and if you do not pass, donate $15. Complete the challenge by nominating 5 other friends!
    </div>
  </div>
  <div class="box">
    <div class="box-content align_left gray_box" id="quiz">
      <div class="topsection">
        <div class="question" id='challenge_prompt'></div>
        <div class="note-text italic_text" id='challege_subtext'>You have <span id="number_of_seconds">60</span> seconds. Enter one at a time and press "enter" or click "Submit"...</div>
      </div>
      <div class="answer-form" id="answer_form">
        <form id="access_code_form">
            <label>
                <input type="text" class="input_form" id="answer_box" autocomplete="off"></input>
            </label>
            <input type="submit" class="button submit-button" id="submit_button" value="Submit"/><span class="note-text">(<span id="time_left">26</span> seconds left)</span>
        </form>
        <div class="answer_boxes" id="answer_boxes">
          <div class="answer_box" id="entered_answers"></div>
        </div>
      </div>
      <div id="start_button" class="center_button toppadding25">
        <input type="submit" class="button" onclick="startquiz()" value="Ready? Start!"></input>
      </div>
      <div id="donation_button">
        <div class="answer_boxes">
          You answered: 
          <div class="answer_box" id="final_entered_answers"></div>
          You missed:
          <div class="answer_box" id="final_missed_answers"></div>
        </div>
        <div class="align_center toppadding25">
            <a class="button" href="https://life.indiegogo.com/fundraisers/nepal-earthquake-relief-fund" target="_blank">Click here to make a donation now</a>
        </div>
      </div>

    </div>
  </div>
  <div class="box">
    <div class="box-content align_left gray_box">
      <div class="topsection">
        <div class="question">Next: Nominate 5 Facebook friends for the Challenge!</div>
      </div>
      <div class="nomination-form">
        <div>
          <select class="nomination_input" id="challenge_selection">
            <option value="default">Select a challenge for your friends</option>
          </select>
        </div>
        <div>
          <div onclick="gogogo()" class="facebook-button button">Challenge</div>
        </div>
        <div class="postscript-text">Or use this link: http://bit.ly/1IsnzIq</div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>